<template name="Header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ pathFor 'Home_Page' }}">GROUP SCHEDULE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a class="{{ isActiveRoute 'Home_Page'}} item" href="{{ pathFor 'Home_Page' }}">Home</a></li>
          <li><a class="{{ isActiveRoute 'Calendar'}} item" href="{{ pathFor 'Calendar' }}">Schedule</a></li>
          <li><a class="{{ isActiveRoute 'About_Page'}} item" href="{{ pathFor 'About_Page' }}">About</a></li>
          <li><a class="{{ isActiveRoute 'Pricing_Page'}} item" href="{{ pathFor 'Pricing_Page' }}">Pricing</a></li>
          <li><a class="{{ isActiveRoute 'Contact_Page'}} item" href="{{ pathFor 'Contact_Page' }}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="right aligned item">{{> loginButtons align="right"}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
